<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop.UI</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/OnlineShop.UI.styles.css" asp-append-version="true" />
</head>
<body>
<a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin Panel</a>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineShop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>