<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - OnlineShop.UI</title>
	<link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/OnlineShop.UI.styles.css" asp-append-version="true" />
</head>
<body>
	<br />
	<h3 class="title has-text-centered">Admin Panel</h3>
	<div class="container">
		<div class="columns">
			<div class="column is-3">
				<div class="menu">
					<p class="menu-label">Admin Menu</p>
					<ul class="menu-list">
						<li><a asp-page="/Admin/Index">Products</a></li>
						<li><a asp-page="/Admin/Orders">Orders</a></li>
						<li><a asp-page="/Admin/Stocks">Stock</a></li>
					</ul>
					<p class="menu-label"></p>
					<ul class="menu-list">
						<li>
							<a class="nav-link text-dark" asp-area="" asp-page="/Index">Back to main</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column is-9">
				@RenderBody()
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>