@page
@model OnlineShop.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="container">
	<div class="columns">
		<div class="columns is-3">
			<div class="menu">
				<p class="menu-label">Admin Menu</p>
				<ul class="menu-list">
					<li><a>Products</a></li>
					<li><a>Orders</a></li>
					<li><a>Stock</a></li>
				</ul>
			</div>
		</div>
		<div class="column is-9">
			<ProductManager></ProductManager>
		</div>
	</div>
</div>


@section scripts{
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="module" src="~/js/admin/main.js"></script>
<script type="module" src="~/js/admin/product-component.js"></script>
}
