@page
@model OnlineShop.UI.Pages.Admin.IndexModel
@{
}

<div id="app">
	<input type="number" v-model="price"/>
	<p>
		{{price}}
	</p>
	<p>
		{{formatPrice}}
	</p>
</div>


@section scripts{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script type="module" src = "~/js/admin/main.js"></script>
}
