@page
@model OnlineShop.UI.Pages.Admin.IndexModel
@{
}

<div id="app">
	<input type="number" v-model/>
</div>


@section scripts{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src = "!/js/admin/main.js"></script>
}
