@page
@model OnlineShop.UI.Pages.Admin.IndexModel
@{
}

<div id="app">
	<button v-on:click="togglePrice">Toggle</button>
	<button v-on:click="getProducts">Get Products</button>
    <input type="number" v-model="price" />
	<p v-show="showPrice">
		{{price}}
	</p>
	<p v-if="showPrice">
		{{formatPrice}}
	</p>
</div>


@section scripts{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
	<script type="module" src = "~/js/admin/main.js"></script>
}
