@page
@model OnlineShop.UI.Pages.Admin.StockModel
@{
}

<div id="app">
	<div class="columns">
		<div class="column is-3">
			<table class="table">
				<tr v-for="product in products" :key="product.id" :class="{ 'is-selected': selectedProduct !== null && product.id === selectedProduct.id }" v-on:click="selectProduct(product)">
					<td>{{product.name}}</td>
				</tr>
			</table>
		</div>
		<div class="column is-6">
			<a class="button is-warning" v-on:click="updateStock">
				Update Products
			</a>
			<table class="table" v-if="selectedProduct">
				<tr v-for="(stock, index) in selectedProduct.stock">
					<td>
						<input class="input" v-model="stock.description" />
					</td>
					<td>
						<input class="input" v-model="stock.quantity" />
					</td>
					<td>
						<button class="button has-text-danger" v-on:click="deleteStock(stock.id, index)">Delete</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="column is-3" v-if="selectedProduct">
			<h2 class="title">New Stock</h2>
			<div class="field">
				<div class="control">
					<input class="input" v-model="newStock.description" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input" v-model="newStock.quantity" />
				</div>
			</div>
			<a class="button is-success" v-on:click="addStock">Add</a>
		</div>

	</div>
</div>

@section scripts{
<script src="~/js/admin/stock.js"></script>
}
